- var title = "my Title"
- var menu = [{url: 'index.html', name: 'Галаваная'}, {url: 'about.html', name: 'обо  мне'}, {url: 'contacts.html', name: 'контакты'}, {url: 'portfolio.html', name: 'порфолио'}]

- var auth = false;
-var html = "<span>SPAfghjhhgfN!</span>"