extends _include/layout.pug

block head 
	title Главная старниучнка
block content 
	nav
		ul
			each menuItem in menu
				li: a(href="" + menuItem.url) #{menuItem.name}
	h1  знавлот!!!
	p параграфаналма

block aside
	div.banner-2
		a: img(src="" alt="")