
include variables.pug
include mixins.pug
doctype html

html(lang="ru")

	head
		meta(charset="UTF-8")
		title портфолио


	body(class=auth ? 'i-know-you' : 'i-dont-know you')
		//include ../img/sprite-svg.svg
		p!= html
		h1 Header #{html}
		nav
			ul
				each menuItem in menu
					li: a(href="" + menuItem.url) #{menuItem.name}
			div
				+portfolioItem('http://archivis.ru/wp-content/uploads/2014/07/14_wooden_floor.jpg', 'пполллл', '9 12 2016')

		h1 header